body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, fieldset, form, menu, select, textarea, input, button { margin: 0; padding: 0; }

ul { list-style: none; }

a { background-color: transparent; text-decoration: none; }

a:hover { text-decoration: none; }

img, input, button { border: 0; outline: 0; }

input, textarea { border-radius: 0; outline: 0; }

input, textarea, select, button, a:active, a:hover { outline: 0; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }

input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; }

/* FONTS */
@font-face { font-family: 'CirceRegular'; src: url("../fonts/Circe_Regular/Circe-Regular.eot"); src: url("../fonts/Circe_Regular/Circe-Regular.eot?iefix") format("eot"), url("../fonts/Circe_Regular/Circe-Regular.woff") format("woff"), url("../fonts/Circe_Regular/Circe-Regular.ttf") format("truetype"), url("../fonts/Circe_Regular/Circe-Regular.svg#webfont") format("svg"); }

@font-face { font-family: 'CirceBold'; src: url("../fonts/Circe_Bold/Circe-Bold.eot"); src: url("../fonts/Circe_Bold/Circe-Bold.eot?iefix") format("eot"), url("../fonts/Circe_Bold/Circe-Bold.woff") format("woff"), url("../fonts/Circe_Bold/Circe-Bold.ttf") format("truetype"), url("../fonts/Circe_Bold/Circe-Bold.svg#webfont") format("svg"); }

@font-face { font-family: 'CirceExtraBold'; src: url("../fonts/Circe_ExtraBold/Circe-ExtraBold.eot"); src: url("../fonts/Circe_ExtraBold/Circe-ExtraBold.eot?iefix") format("eot"), url("../fonts/Circe_ExtraBold/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe_ExtraBold/Circe-ExtraBold.ttf") format("truetype"), url("../fonts/Circe_ExtraBold/Circe-ExtraBold.svg#webfont") format("svg"); }

@font-face { font-family: 'CirceLight'; src: url("../fonts/Circe_Light/Circe-Light.eot"); src: url("../fonts/Circe_Light/Circe-Light.eot?iefix") format("eot"), url("../fonts/Circe_Light/Circe-Light.woff") format("woff"), url("../fonts/Circe_Light/Circe-Light.ttf") format("truetype"), url("../fonts/Circe_Light/Circe-Light.svg#webfont") format("svg"); }

/* GENERAL */
body { font-family: 'CirceRegular'; font-size: 18px; line-height: 1.2; color: #565555; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

header, section, footer { position: relative; width: 100%; min-width: 100px; }

.wrapper { position: relative; max-width: 1120px; margin: 0 auto; padding: 0 10px; }

input[type="text"]::-webkit-input-placeholder { color: #999C9E; }

input[type="text"]::-moz-placeholder { color: #999C9E; }

input[type="text"]:-moz-placeholder { color: #999C9E; }

input[type="text"]:-ms-input-placeholder { color: #999C9E; }

input[type="submit"], select { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; }

/* for number input */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0; }

input[type="number"] { -moz-appearance: textfield; }

input[type="number"]:hover, input[type="number"]:focus { -moz-appearance: number-input; }

span.strong { font-weight: bold; }

/* no scroll & gotop */
html.no-scrollt, body.no-scrollt { height: 100%; width: 100%; max-height: 100%; max-width: 100%; overflow: hidden; }

/* no scroll */
html.no-scroll, body.no-scroll { width: 100%; max-width: 100%; overflow: hidden; }

/* COMMON */
a[data-lightbox] { position: absolute; background-color: rgba(0, 0, 0, 0.4); width: 100%; z-index: 100; height: 100%; top: 0; left: 0; background-position: center; background-repeat: no-repeat; opacity: 0; -webkit-transition: .3s; -o-transition: .3s; transition: .3s; }

a[data-lightbox]:hover { opacity: 1; text-decoration: none; }

a[data-lightbox]:before { content: "+"; position: absolute; top: 50%; box-sizing: border-box; left: 50%; margin-left: -40px; margin-top: -40px; width: 80px; height: 80px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; color: rgba(255, 255, 255, 0.49); border: 4px solid rgba(255, 255, 255, 0.52); text-align: center; font-size: 55px; line-height: 66px; }

@media only screen and (max-width: 800px) { a[data-lightbox] { display: none; } }

/* GRID */
/* FORM */
.input_text { width: 100%; padding: 0 10px; font-size: 16px; height: 50px; border: 1px solid #E0E0E0; color: #343434; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.input_text:focus { border: 1px solid #66BC75; color: #66BC75; }

.textarea_form { width: 100%; padding: 10px; font-size: 16px; resize: none; color: #333; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; height: 150px; }

.textarea_form:focus { border: 1px solid #000; }

.input_file { display: inline-block; position: relative; padding-left: 30px; cursor: pointer; user-select: none; background: url("../img/decor_9.png") left center no-repeat; user-select: none; }

.input_file input { display: none; }

.input_file span { font-size: 18px; color: #2E8CC7; border-bottom: 2px dotted #2E8CC7; }

.input_btn { width: 100%; padding: 10px; height: 45px; font-size: 16px; color: #333; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; background: #66BC75; color: #fff; }

.input_btn:hover { opacity: .8; }

.select__wrap { position: relative; width: 100%; font-size: 16px; height: 50px; border: 1px solid #E0E0E0; color: #95989A; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.select__wrap select { width: 100%; height: 100%; border: none; background: none; font-size: 14px; padding: 0 10px; color: #95989A; }

.select__wrap:after { content: ""; position: absolute; top: 50%; right: 10px; margin-top: -2px; z-index: 10; display: block; pointer-events: none; border-style: solid; border-width: 5px 5px 0 5px; border-color: #95989A transparent transparent transparent; }

/* HEADER */
header { background: url("../img/head_bg.png") center bottom no-repeat; background-size: cover; }

header .wrapper { padding-top: 55px; -webkit-height: 100vh; -moz-height: 100vh; -ms-height: 100vh; -o-height: 100vh; height: 100vh; min-height: 850px; }

/* header__top */
.header__top:before, .header__top:after { content: ""; display: table; }

.header__top:after { clear: both; }

.header__top__logo { float: left; }

.header__top__right { text-align: right; float: right; }

.header__top__right .header_phone { color: #3C3A3A; font-size: 24px; font-family: 'CirceBold'; }

.header__top__right .header_callback_btn { color: #8ACA95; display: block; font-size: 16px; cursor: pointer; text-transform: uppercase; margin-top: 8px; }

.header__top__right .header_callback_btn:hover { text-decoration: underline; }

/* header__center */
.header__center { margin-top: 180px; text-align: center; padding-bottom: 20px; }

.header__center .text_1 { color: #A8ABAC; font-size: 16px; text-transform: uppercase; }

.header__center .slogan { font-family: "CirceExtraBold"; font-size: 46px; color: #3C3A3A; margin-top: 40px; line-height: 1.3; }

.header__center .slogan span { color: #66BC75; display: block; }

.header__center .text_2 { color: #676666; font-size: 14px; margin-top: 10px; }

.header__center .btn_style { margin-top: 80px; width: 270px; height: 50px; line-height: 54px; }

/* header__partners */
.header__partners { position: absolute; bottom: 0; left: 0; background: rgba(255, 255, 255, 0.74); width: 100%; }

.header__partners__wrapper { max-width: 1120px; padding: 0 10px; margin: 0 auto; }

.header__partners__items { display: table; table-layout: fixed; width: 100%; text-align: center; padding-top: 20px; padding-bottom: 20px; }

.header__partners__item { display: table-cell; vertical-align: middle; }

.btn_style { display: inline-block; background: #66BC75; color: #fff; -webkit-border-radius: 35px; border-radius: 35px; background-clip: padding-box; font-size: 16px; cursor: pointer; text-align: center; text-transform: uppercase; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; -webkit-box-shadow: 0px 3px 5px 0px rgba(102, 188, 117, 0.56); -moz-box-shadow: 0px 3px 5px 0px rgba(102, 188, 117, 0.56); -ms-box-shadow: 0px 3px 5px 0px rgba(102, 188, 117, 0.56); box-shadow: 0px 3px 5px 0px rgba(102, 188, 117, 0.56); }

.btn_style:hover { background: #6ddb80; }

.btn_style_1 { display: inline-block; color: #fff; padding: 15px 30px; -webkit-border-radius: 35px; border-radius: 35px; background-clip: padding-box; font-size: 16px; border: 1px solid #66BC75; color: #66BC75; cursor: pointer; text-align: center; text-transform: uppercase; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.btn_style_1:hover { background: #6ddb80; color: #fff; }

.block_title { font-size: 36px; text-transform: uppercase; text-align: center; }

.subtitle { text-align: center; }

/* how_work */
.how_work { background: #fff; overflow-x: hidden; padding-top: 40px; }

.how_work_w:before, .how_work_w:after { content: ""; display: table; }

.how_work_w:after { clear: both; }

.how_work_left { width: 50%; float: left; padding-bottom: 40px; }

.how_work_left .block_title { color: #343434; text-align: left; }

.how_work_left .btn_style { width: 280px; height: 50px; line-height: 52px; margin-top: 20px; }

.how_work_left .subtitle { color: #8D9091; margin-top: 10px; text-align: center; }

.how_work_left p { font-family: "CirceLight"; line-height: 1.5; margin-top: 40px; max-width: 500px; text-align: justify; }

.how_work_right { width: 50%; float: left; height: 490px; }

.how_work_right img { position: absolute; bottom: 0; display: block; }

/* system_can */
.system_can { background: url("../img/sys_can_bg.jpg"); }

.system_can .wrapper { padding-top: 40px; padding-bottom: 30px; }

.system_can .block_title { color: #fff; }

.system_can .subtitle { font-size: 16px; color: #8D9091; margin-top: 10px; }

.system_can_w { margin-top: 40px; }

.system_can__item { background: url("../img/decor_star.png") left top no-repeat; width: 33.3%; min-height: 40px; display: inline-block; vertical-align: top; margin-right: -4px; padding-left: 50px; margin-bottom: 50px; padding-right: 45px; }

.system_can__item p { color: #fff; margin-top: 10px; font-size: 16px; }

/* integration */
.integration .wrapper { padding-top: 40px; padding-bottom: 40px; }

.integration .block_title { color: #343434; }

.integration .subtitle { font-size: 16px; color: #8D9091; margin-top: 10px; }

.integration_w { margin-top: 40px; display: table; width: 100%; table-layout: fixed; }

.integration_item { display: table-cell; text-align: center; vertical-align: middle; }

/* tarif */
.tarif { background: #F7F7F7; }

.tarif .wrapper { padding-top: 40px; padding-bottom: 30px; }

.tarif .block_title { color: #343434; }

.tarif .subtitle { font-size: 16px; color: #8D9091; margin-top: 10px; }

.tarif_w { overflow: hidden; margin-top: 50px; }

.tarif_w .after_text { text-transform: uppercase; text-align: center; font-size: 26px; margin-top: 15px; }

.tarif_w .after_text sup { font-family: 'Tahoma'; font-size: 20px; }

.tarif_coll__wrap { margin: 0 -15px; }

.tarif_coll__wrap:before, .tarif_coll__wrap:after { content: ""; display: table; }

.tarif_coll__wrap:after { clear: both; }

.tarif_coll { width: 33.3%; float: left; padding: 0 15px; padding-bottom: 30px; }

.tarif__item { background: #fff; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.tarif__item__head { background: #343434; padding: 10px 20px 20px; height: 100px; text-align: center; color: #fff; }

.tarif__item__head .paket { font-family: "CirceLight"; text-transform: uppercase; font-size: 12px; display: block; }

.tarif__item__head .name { text-transform: uppercase; display: block; font-size: 20px; margin-top: 10px; }

.tarif__item__head .srok { display: block; color: #727475; font-size: 12px; }

.tarif__item:before { content: ""; display: block; width: 100%; height: 17px; background: url("../img/decor_top_line.png") center repeat-x; }

.tarif__item__row { height: 90px; margin: 0 30px; text-align: center; padding-top: 15px; }

.tarif__item__row:nth-child(2) { border-bottom: 1px solid #EEEEEF; }

.tarif__item__row .price_text { display: block; color: #6A6A6A; text-transform: uppercase; font-size: 14px; }

.tarif__item__row .price { display: block; font-family: "CirceBold"; font-size: 30px; color: #343434; margin-top: 10px; }

.tarif__item__row .income_text { display: block; color: #95989A; text-transform: uppercase; font-size: 14px; }

.tarif__item__row .income { display: block; font-family: "CirceBold"; font-size: 30px; color: #95989A; margin-top: 10px; }

.tarif__item__row .income sup { color: #66BC75; font-family: 'Tahoma'; font-size: 20px; }

.tarif__item__row .btn_style { width: 230px; height: 50px; line-height: 52px; font-size: 18px; text-transform: uppercase; margin-top: 5px; }

/* video_bnr */
.video_bnr { background: url("../img/video_bnr.png") center no-repeat; background-size: cover; }

.video_bnr .wrapper { padding-top: 40px; padding-bottom: 40px; }

.video_bnr__btn { display: block; background: url("../img/btn_play.png"); margin: 0 auto; width: 166px; height: 193px; cursor: pointer; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.video_bnr__btn:hover { opacity: .9; }

/* already_open */
.already_open { overflow-x: hidden; background: url("../img/frut-bg.png") left bottom no-repeat; }

.already_open .wrapper { padding-top: 50px; padding-bottom: 100px; }

.already_open .block_title { color: #343434; }

.already_open .subtitle { font-size: 16px; color: #8D9091; margin-top: 10px; }

.already_open__wrap { margin-top: 80px; }

.already_open__left { width: 300px; float: left; margin-top: 150px; }

.already_open_item { text-align: center; padding: 40px 15px; }

.already_open_item .more_then { display: block; color: #9EA1A3; }

.already_open_item .count { display: block; color: #66BC75; font-size: 30px; margin-top: 5px; }

.already_open_item .place { display: block; color: #3C3A3A; margin-top: 5px; font-size: 16px; text-transform: uppercase; }

.already_open_item:not(:last-child) { border-bottom: 1px dotted #95989A; }

.already_open__right { height: 650px; margin-left: 320px; }

/* work_with */
.work_with { background: #F7F7F7; }

.work_with .wrapper { padding-top: 40px; padding-bottom: 40px; }

.work_with .block_title { color: #343434; }

.work_with__wrap { display: table; table-layout: fixed; width: 100%; margin-top: 80px; }

.work_with__item { display: table-cell; text-align: center; }

.work_with__item p { color: #95989A; font-family: 'CirceBold'; margin-top: 10px; }

.btn_style__wrap { text-align: center; margin-top: 50px; }

.btn_style__wrap .btn_style { padding: 15px 30px; }

/* paket_on */
.paket_on { background: url(../img/sys_can_bg.jpg); }

.paket_on .wrapper { padding-top: 40px; padding-bottom: 40px; }

.paket_on .block_title { color: #fff; }

.paket_on__wrap { margin-top: 60px; }

.paket_on__item { width: 25%; display: inline-block; vertical-align: top; margin-right: -5px; padding-right: 30px; margin-bottom: 50px; color: #fff; }

.paket_on__item p { margin-top: 10px; margin-left: 50px; }

.paket_on__count { display: inline-block; width: 38px; height: 38px; text-align: center; line-height: 38px; background: #66BC75; float: left; -webkit-border-radius: 50%; border-radius: 50%; background-clip: padding-box; }

.btn_style_1__wrap { text-align: center; margin-top: 20px; }

/* how_earn */
.how_earn .wrapper { padding-top: 40px; padding-bottom: 40px; }

.how_earn .block_title { color: #343434; }

.how_earn__wrap { margin-top: 80px; }

.how_earn__item { width: 50%; display: inline-block; vertical-align: top; margin-right: -5px; padding-right: 30px; margin-bottom: 50px; color: #535151; }

.how_earn__item p { margin-top: 10px; margin-left: 50px; }

.how_earn__item p span { color: #ADAFB1; font-size: 12px; }

.how_earn__count { display: inline-block; width: 38px; height: 38px; text-align: center; line-height: 38px; background: #66BC75; float: left; color: #fff; -webkit-border-radius: 50%; border-radius: 50%; background-clip: padding-box; }

.how_earn__badge { position: absolute; top: -20px; left: -450px; width: 365px; height: 423px; background: url("../img/dollar-symbol.png"); }

/* comand */
.comand .wrapper { padding-top: 40px; padding-bottom: 40px; overflow: hidden; }

.comand .block_title { color: #343434; }

.comand__wrap { margin: 0 -15px; margin-top: 80px; }

.comand__wrap:before, .comand__wrap:after { content: ""; display: table; }

.comand__wrap:after { clear: both; }

.comand__item_coll { width: 25%; float: left; padding: 0 15px; margin-bottom: 20px; }

.comand__item { text-align: center; border: 1px solid #EEEEEE; padding-bottom: 15px; -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.36); -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.36); -ms-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.36); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.36); }

.comand__item img { width: 100%; height: auto; }

.comand__item .name { display: block; color: #3C3A3A; margin-top: 15px; }

.comand__item .who { display: block; color: #B2B4B6; font-size: 12px; margin-top: 5px; }

/* contact_us */
.contact_us .wrapper { padding-top: 50px; padding-bottom: 50px; }

.contact_us .wrapper .block_title { color: #343434; }

.contact_us .wrapper .btn_style { width: 280px; height: 50px; line-height: 52px; margin-top: 20px; }

.contact_us .wrapper .subtitle { color: #95989A; margin-top: 10px; font-size: 16px; }

.contact_us__wrap { margin-top: 40px; }

.contact_us__wrap:before, .contact_us__wrap:after { content: ""; display: table; }

.contact_us__wrap:after { clear: both; }

.contact_us__left { width: 50%; float: left; padding-right: 30px; }

.contact_us__right { padding-left: 30px; width: 50%; float: left; text-align: center; }

.contact_us__right iframe { width: 100%; height: 260px; border: none; }

/* contact_us__form */
.contact_us__form__row { margin-bottom: 20px; }

.contact_us__info { display: inline-block; margin-top: 35px; border-bottom: 1px dotted #95989A; padding-bottom: 5px; }

.contact_us__info .footer_phone { background: url("../img/decor_phone.png") left top no-repeat; margin-right: 40px; }

.contact_us__info .footer_email { background: url("../img/decor_email.png") left top no-repeat; }

.contact_us__info a { height: 26px; font-size: 20px; position: relative; padding-top: 2px; padding-left: 34px; display: inline-block; color: #95989A; font-family: "CirceExtraBold"; }

/* footer */
footer { border-top: 1px solid #EAEBEB; background: url("../img/footer_bg.png") center bottom no-repeat; }

footer .wrapper { padding-top: 40px; padding-bottom: 70px; }

.footer__wrap:before, .footer__wrap:after { content: ""; display: table; }

.footer__wrap:after { clear: both; }

.footer__logo { float: left; width: 20%; }

.footer__center { float: left; width: 60%; height: 50px; padding-top: 20px; color: #95989A; font-size: 14px; text-align: center; }

.footer__social { padding-top: 10px; width: 20%; float: left; text-align: right; }

.footer__social ul li { display: inline-block; vertical-align: top; margin-left: 40px; }

.footer__social ul a { display: block; width: 23px; height: 23px; }

.footer__social a.inst { background: url("../img/insta.png") center no-repeat; }

.footer__social a.youtube { background: url("../img/tube.png") center no-repeat; }

.footer__social a.vk { background: url("../img/vk.png") center no-repeat; }

/* scroll style */
::-webkit-scrollbar-button { background-repeat: no-repeat; width: 6px; height: 0px; }

::-webkit-scrollbar-track { background-color: #FFEFFF; }

::-webkit-scrollbar-thumb { -webkit-border-radius: 5px; border-radius: 5px; background-color: #66BC75; background-position: center; background-repeat: no-repeat; }

::-webkit-resizer { background-repeat: no-repeat; width: 7px; height: 0px; }

::-webkit-scrollbar { width: 6px; }

/* modalOverlay */
.modalbtn { cursor: pointer; }

.modalOverlay { display: none; position: fixed; top: 0; bottom: 0; right: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.58); z-index: 1000; }

/* callback */
.callback .modal_title { font-size: 24px; display: block; margin-bottom: 20px; margin-top: 15px; text-align: left; }

/* modalWindowWrap */
.modalWindowWrap { display: none; position: fixed; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; text-align: center; overflow-x: hidden; overflow-y: auto; z-index: 1100; }

.modalTable { display: table; height: 100%; width: 100%; }

.modalCell { display: table-cell; vertical-align: middle; padding: 50px 10px; }

.modalWindow { position: relative; color: #000; background: #fff; padding: 10px 30px; max-width: 400px; margin: auto; }

.modalWindowClose { display: block; position: absolute; top: -40px; right: 0; width: 32px; height: 32px; cursor: pointer; user-select: none; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; }

.modalWindowClose:hover { -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg); }

.modalWindowClose:before, .modalWindowClose:after { position: absolute; left: 15px; content: ' '; height: 33px; width: 4px; -webkit-border-radius: 3px; border-radius: 3px; background-clip: padding-box; background-color: #fff; }

.modalWindowClose:before { transform: rotate(45deg); }

.modalWindowClose:after { transform: rotate(-45deg); }

/***** MEDIA *****/
@media only screen and (max-width: 1000px) { .tarif_coll__wrap { text-align: center; }
  .tarif_coll { width: 50%; float: none; display: inline-block; margin-right: -5px; margin-top: 30px; min-width: 300px; }
  .tarif__item__row { height: auto; margin: 5px 0; }
  footer { background: none; }
  .footer__logo, .footer__center, .footer__social { text-align: center; float: none; width: 100%; } }

@media only screen and (max-width: 800px) { /* header */
  header .wrapper { height: auto; min-height: auto; }
  .header__partners { position: relative; margin-top: 100px; }
  .header__partners__item { display: block; margin: 10px 0; }
  /* system_can__item */
  .system_can__item { width: 50%; }
  /* integration_item */
  .integration_item { display: block; margin-top: 15px; }
  /* paket_on__item */
  .paket_on__item { width: 50%; }
  /* comand__item_coll */
  .comand__item_coll { width: 50%; } }

@media only screen and (max-width: 600px) { /* header */
  .header__center .slogan { font-size: 30px; }
  .header__top__logo { text-align: center; float: none; }
  .header__top__right { float: none; text-align: center; margin-top: 15px; }
  /* .how_work_right */
  .how_work_left { width: 100%; }
  .how_work_right { display: none; }
  /* system_can__item */
  .system_can__item { width: 100%; }
  .already_open .wrapper { padding-bottom: 0; }
  .already_open { background: none; }
  .already_open__right { display: none; }
  .already_open__left { text-align: center; margin: 0 auto; float: none; }
  .block_title { text-align: center; }
  .subtitle { text-align: center; }
  /* work_with__item */
  .work_with__item { display: block; text-align: center; margin-top: 15px; }
  /* paket_on__item */
  .paket_on__item { width: 100%; }
  /* how_earn__item */
  .how_earn__item { width: 100%; }
  /* comand__item_coll */
  .comand__item_coll { width: 100%; }
  .contact_us__right, .contact_us__left { width: 100%; padding: 0; float: none; margin-top: 15px; }
  .contact_us__info a { display: block; text-align: center; margin-top: 15px; }
  .contact_us__info .footer_phone { margin-right: 0; } }

/*# sourceMappingURL=style.css.map */
