/* FONTS */

@font-face
  font-family: 'CirceRegular'
  src: url('../fonts/Circe_Regular/Circe-Regular.eot');
  src: url('../fonts/Circe_Regular/Circe-Regular.eot?iefix') format('eot'),
  url('../fonts/Circe_Regular/Circe-Regular.woff') format('woff'),
  url('../fonts/Circe_Regular/Circe-Regular.ttf') format('truetype'),
  url('../fonts/Circe_Regular/Circe-Regular.svg#webfont') format('svg')

@font-face
  font-family: 'CirceBold'
  src: url('../fonts/Circe_Bold/Circe-Bold.eot');
  src: url('../fonts/Circe_Bold/Circe-Bold.eot?iefix') format('eot'),
  url('../fonts/Circe_Bold/Circe-Bold.woff') format('woff'),
  url('../fonts/Circe_Bold/Circe-Bold.ttf') format('truetype'),
  url('../fonts/Circe_Bold/Circe-Bold.svg#webfont') format('svg')

@font-face
  font-family: 'CirceExtraBold'
  src: url('../fonts/Circe_ExtraBold/Circe-ExtraBold.eot');
  src: url('../fonts/Circe_ExtraBold/Circe-ExtraBold.eot?iefix') format('eot'),
  url('../fonts/Circe_ExtraBold/Circe-ExtraBold.woff') format('woff'),
  url('../fonts/Circe_ExtraBold/Circe-ExtraBold.ttf') format('truetype'),
  url('../fonts/Circe_ExtraBold/Circe-ExtraBold.svg#webfont') format('svg')

@font-face
  font-family: 'CirceLight'
  src: url('../fonts/Circe_Light/Circe-Light.eot');
  src: url('../fonts/Circe_Light/Circe-Light.eot?iefix') format('eot'),
  url('../fonts/Circe_Light/Circe-Light.woff') format('woff'),
  url('../fonts/Circe_Light/Circe-Light.ttf') format('truetype'),
  url('../fonts/Circe_Light/Circe-Light.svg#webfont') format('svg')