/***** MEDIA *****/

@media only screen and (max-width: 1000px)
  
  .tarif_coll__wrap
    text-align: center
  .tarif_coll
    width: 50%
    float: none
    display: inline-block
    margin-right: -5px
    margin-top: 30px
    min-width: 300px
  
  .tarif__item__row
    height: auto
    margin: 5px 0
    
  footer
    background: none
  .footer__logo,
  .footer__center,
  .footer__social
    text-align: center
    float: none
    width: 100%
  
  
  
  
@media only screen and (max-width: 800px)
  
  /* header
  header
    .wrapper
      height: auto
      min-height: auto
  .header__partners
    position: relative
    margin-top: 100px
  .header__partners__item
    display: block
    margin: 10px 0
    
  /* system_can__item
  .system_can__item
    width: 50%
    
  /* integration_item
  .integration_item
    display: block
    margin-top: 15px
    
  /* paket_on__item
  .paket_on__item
    width: 50%
    
  /* comand__item_coll
  .comand__item_coll
    width: 50%
  
  
  
  
@media only screen and (max-width: 600px)
  
  /* header
  .header__center .slogan
    font-size: 30px
  .header__top__logo
    text-align: center
    float: none
  .header__top__right
    float: none
    text-align: center
    margin-top: 15px
    
  /* .how_work_right
  .how_work_left
    width: 100%
  .how_work_right
    display: none
    
  /* system_can__item
  .system_can__item
    width: 100%
    
  .already_open .wrapper
    padding-bottom: 0
  .already_open
    background: none
  .already_open__right
    display: none
  .already_open__left
    text-align: center
    margin: 0 auto
    float: none
    
  .block_title
    text-align: center
  .subtitle
    text-align: center
    
  /* work_with__item
  .work_with__item
    display: block
    text-align: center
    margin-top: 15px
  
    
  /* paket_on__item
  .paket_on__item
    width: 100%
    
  /* how_earn__item
  .how_earn__item
    width: 100%
    
    
  /* comand__item_coll
  .comand__item_coll
    width: 100%
    
  .contact_us__right,
  .contact_us__left
    width: 100%
    padding: 0
    float: none
    margin-top: 15px
    
  .contact_us__info a
    display: block
    text-align: center
    margin-top: 15px
  .contact_us__info .footer_phone
    margin-right: 0
    
  
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    